/******* Variables *******/
$blue-color: #0f182b;
$blue-color-light: #006cac;
$green-color: #75df7d;
$font-color-dark: #ffffff;
$font-color-light: #000000;
$background-dark: #252327;
$background-light: #ffffff;

/******* Mixins *******/
@mixin left-bar($bar-color) {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: 5px;
    background-color: $bar-color;
  }
}

@mixin scroll-bar {
  @media screen and (min-width: 1024px) {
    overflow: auto;
    height: 250px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(#c0c0c0, 0.5);
      border-radius: 5px;
    }
  }
}

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

// mixin for link styles
@mixin link-styles {
}

/******* Reset *******/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******* Google Font *******/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/******* Global Styles ********/
html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
}

.light {
  background-color: $background-light;
  color: $font-color-light;

  @include link-styles;

  & a {
    color: $font-color-light;
    // @include link-styles;
    position: relative;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $blue-color-light;
      transition: width 0.3s ease-in-out;
    }
    &:hover::after {
      width: 100%;
    }
  }
  & .active {
    // @include active-link;
    color: $blue-color-light;
    font-weight: 700;
  }
}

.dark {
  background-color: $background-dark;
  color: $font-color-dark;

  @include link-styles;
  & a {
    color: $font-color-dark;
    // @include link-styles;
    position: relative;
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $green-color;
      transition: width 0.3s ease-in-out;
    }
    &:hover::after {
      width: 100%;
    }
  }
  & .active {
    // @include active-link;
    color: $green-color;
    font-weight: 700;
  }
}

h1 {
  font-weight: 700;
  line-height: 1;
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2,
h3 {
  font-weight: 700;
  line-height: 1.5;
}

p {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.light .text-subtitle {
  color: $blue-color-light;
}

.text-subtitle {
  color: $green-color;
}

.btn {
  border-radius: 50px;
  padding: 5px 20px;
  border: 1px solid $blue-color;
  background-color: $green-color;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: darken($green-color, 10%);
  }

  &:active {
    background-color: darken($green-color, 20%);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 2rem;
  min-height: 100vh;
  position: relative;
}

/******* Lists *******/
ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  padding: 10px 0;

  & li {
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

/******* Navigation *******/

.light .rrss {
  & ul li a {
    background-color: #262626;
    border-color: #262626;
    & .icon {
      color: #ffffff;
    }
  }
}

.dark .rrss {
  & ul li a {
    background-color: #ffffff;
    border-color: #ffffff;
    & .icon {
      color: #262626;
    }
  }
}

.rrss {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding: 20px 0;

  & ul li a {
    width: 50px;
    height: 50px;
    // background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    z-index: 1;

    & .icon {
      position: relative;
      color: #262626;
      transition: 0.5s;
      z-index: 3;
    }

    &:hover .icon {
      color: #fff;
      transform: rotateY(360deg);
    }

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
      z-index: 2;
    }

    &:hover::before {
      top: 0;
    }
  }

  & ul li:nth-child(1) a::before {
    background: $green-color;
  }

  & ul li:nth-child(2) a::before {
    background: $green-color;
  }

  & ul li:nth-child(3) a::before {
    background: $green-color;
  }
}

.light .rrss {
  & ul li:nth-child(1) a::before {
    background: $blue-color-light;
  }

  & ul li:nth-child(2) a::before {
    background: $blue-color-light;
  }

  & ul li:nth-child(3) a::before {
    background: $blue-color-light;
  }
}

/******* Header ********/
.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 20px;
  position: relative;
  margin-bottom: 5rem;

  & strong {
    line-height: 1.5;
    font-size: 2.8rem;
  }

  @include left-bar($green-color);
}

.light .header {
  @include left-bar($blue-color-light);
}

/******* About ********/
.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 20px;
  position: relative;
  margin-bottom: 5rem;
  @include left-bar($green-color);
}

//******* Projects ********/
.projects {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 20px;
  position: relative;
  margin-bottom: 5rem;
  @include left-bar($green-color);
}

.light .projects {
  @include left-bar($blue-color-light);
}

.project {
  &-detail {
    margin-top: 2rem;
    height: auto;
    overflow: hidden;

    // &__about {
    display: flex;
    gap: 20px;
    @media (max-width: 425px) {
      flex-wrap: wrap;
    }
    // }

    & img {
      margin-bottom: 1.5rem;
    }

    @include scroll-bar;

    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &-icon {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-img {
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0%);
    }

    @media (max-width: 425px) {
      filter: grayscale(0%);
    }
  }
}

.pill {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 50px;
  background-color: $green-color;
  color: $blue-color;
  font-size: 1.2rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.light .pill {
  background-color: $blue-color-light;
  color: #ffffff;
}

//******* Tools ********/
.light .tools-icon__fa {
  color: $blue-color-light;
}
.tools {
  margin: 5rem 0;

  // contenedor de iconos
  &-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(6, 1fr);
    }
    gap: 20px;
    margin-bottom: 1rem;
  }

  // icono

  &-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // font awesome
    &__fa {
      font-size: 4rem;
      color: rgba($green-color, 1);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    // nombre debajo de icono
    &__name {
      font-size: 1.5rem;
      font-weight: 500;
      margin-top: 1rem;
    }
  }
}

//******* Footer ********/
footer {
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
